:root {
  --color-gray: #525252;
  --color-green: #73dc62;
  --color-blue: 63, 151, 255; //#3f97ff;;
  --color-background: #ecf1f2;
  --color-border: #e2dddd;
  --color-white: #ffffff;
  --color-black: #000000;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
p {
  font-family: "Poppins", sans-serif;
  margin-block-start: 0;
  font-size: 2.5rem;
  margin-block-end: 0;
}

html,
body {
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}
